
html{
    height: 100%;
    scroll-behavior: smooth;
}
body{
    /*position: relative;*/
    /*margin: 0;*/
    /*padding: 0;*/
    min-height:100%;
    position:relative;
    padding-bottom:175px;


}
.container {
    /*min-height: 100%;*/
    width: 100%;
    padding: 10px;
}

.card-footer {
    background: #282828;
    color: #fbfbfb;
    font-size: 16px;
    text-align: center;
    margin-top: 24px;
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 175px;
    bottom: 0;
}

.navbar {
    background: #fbfbfb;

}
.btn_navbar_primary{
    background-color: #fbfbfb;

}
.btn_navbar_hover{
    background-color: #5c636a;
}



.map {
    /*text-align: center;*/
}
.map-buttons{
    text-align: center;
    align-content: center;
}
h3{
    font-size: 25px;
}
h4{
    font-size: 15px;
}

.sides{
    padding-top: 10px;
    border-style: solid;
    border-color: #1a1e21;
}
.mobile-map{
    align-content: center;
    width: 100%;
}
.search{
    align-content: center;
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 300px;
    border-style: solid;
    border-color: #1a1e21;
}

.info{
    width: 100%;
    margin-top: 20px;
    align-content: center;
    text-align: center;
    border-style: solid;
    border-color: #1a1e21;
    padding-top: 10px;
    padding-bottom: 300px;
}




