.navbar {
    background: #fbfbfb;

}
.btn_navbar_primary{
    background-color: #fbfbfb;

}
.btn_navbar_hover{
    background-color: #5c636a;
}

.card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /*height: 60px;*/
    line-height: 60px;
}

.card-footer{

    background: #282828;
    color: #fbfbfb;
    text-align: center;
}