
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.navbar {
    background: #fbfbfb;

}
.btn_navbar_primary{
    background-color: #fbfbfb;

}
.btn_navbar_hover{
    background-color: #5c636a;
}

.card-footer {
    bottom: 0;
    width: 100%;
    line-height: 30px;
    background: #282828;
    color: #fbfbfb;
    text-align: center;
    margin-top: auto;

}

.map {
    text-align: center;
}